<div class="sSn7arborbk" role="banner" >
   
      <img width="40" alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      /> <label> ಅ એ অ अ A ش ല म ਉ அ సం</label>
    </div>
<div class="stIRlHYUx32">
    <div class="control_display"></div>
    
    <div class="s3LLOxmGvGE" >
        <form [formGroup]="szeZFJnaax0" style="margin-left: 40px;" (ngSubmit)="changeLangSetting_mt()" >
            <div class="float-md-right" style="padding-right: 5px; display: inline-block;">
                <div style="color: #444040; margin-left: 10px;">
                    <h3 style="margin: 0px;"  > ಅ એ অ अ A ش ല म ਉ அ సం</h3>
                </div> 
                <ul style="list-style: none;">    
                    <li style="margin-bottom: 10px;margin-top: 0px;"><h5 style="margin: 0px; color: black; font-weight: normal;" >
                        <input type="radio" id="ur" name="sdUXXjsb2iD" formControlName="sdUXXjsb2iD" title="اردو" value="ur">
                        <label for="ur">اردو</label></h5>  
                    </li>
                    <li style="margin-bottom: 10px;margin-top: 0px;"><h5 style="margin: 0px; color: black; font-weight: normal;" >
                        <input type="radio" id="bng" name="sdUXXjsb2iD" formControlName="sdUXXjsb2iD" title="বাংলা" value="bng">
                        <label for="bng">বাংলা</label></h5>  
                    </li>

                    <li style="margin-bottom: 10px;margin-top: 0px;"><h5 style="margin: 0px; color: black; font-weight: normal;" >
                        <input type="radio" id="en" name="sdUXXjsb2iD" formControlName="sdUXXjsb2iD" title="English" value="en">
                        <label for="en">English</label></h5>  
                    </li>
                    <li style="margin-bottom: 10px;margin-top: 0px;"><h5 style="margin: 0px; color: black; font-weight: normal;" >
                        <input type="radio" id="gj" name="sdUXXjsb2iD" formControlName="sdUXXjsb2iD" title="ગુજરાતી" value="gj">
                        <label for="gj">ગુજરાતી</label></h5>  
                    </li>

                    <li style="margin-bottom: 10px;margin-top: 0px;"><h5 style="margin: 0px; color: black; font-weight: normal;" >
                        <input type="radio" id="hn" name="sdUXXjsb2iD" formControlName="sdUXXjsb2iD" title="हिन्दी" value="hn">
                        <label for="hn">हिन्दी</label></h5>  
                    </li>

                    <li style="margin-bottom: 0px;margin-top: 0px;"><h5 style="margin: 0px; color: black; font-weight: normal;" >
                        <input type="radio" id="kn" name="sdUXXjsb2iD" formControlName="sdUXXjsb2iD" title="ಕನ್ನಡ" value="kn">
                        <label for="kn">ಕನ್ನಡ</label></h5>  
                    </li>   
                    <li style="margin-bottom: 0px;margin-top: 0px;"><h5 style="margin: 0px; color: black; font-weight: normal;" >
                        <input type="radio" id="ml" name="sdUXXjsb2iD" formControlName="sdUXXjsb2iD" title="മലയാളം" value="ml">
                        <label for="ml">മലയാളം</label></h5>  
                    </li>
                    <li style="margin-bottom: 0px;margin-top: 0px;"><h5 style="margin: 0px; color: black; font-weight: normal;" >
                        <input type="radio" id="mr" name="sdUXXjsb2iD" formControlName="sdUXXjsb2iD" title="मराठी" value="mr">
                        <label for="mr">मराठी</label></h5>  
                    </li>
                    <li style="margin-bottom: 0px;margin-top: 0px;"><h5 style="margin: 0px; color: black; font-weight: normal;" >
                        <input type="radio" id="pa" name="sdUXXjsb2iD" formControlName="sdUXXjsb2iD" title="ਪੰਜਾਬੀ" value="pa">
                        <label for="pa">ਪੰਜਾਬੀ</label></h5>  
                    </li>
                    <li style="margin-bottom: 0px;margin-top: 0px;"><h5 style="margin: 0px; color: black; font-weight: normal;" >
                        <input type="radio" id="ta" name="sdUXXjsb2iD" formControlName="sdUXXjsb2iD" title="தமிழ்" value="ta">
                        <label for="ta">தமிழ்</label></h5>  
                    </li>
                    <li style="margin-bottom: 0px;margin-top: 0px;"><h5 style="margin: 0px; color: black; font-weight: normal;" >
                        <input type="radio" id="te" name="sdUXXjsb2iD" formControlName="sdUXXjsb2iD" title="తెలుగు" value="te">
                        <label for="te">తెలుగు</label></h5>  
                    </li>
                                                     
                </ul>
            </div>
            <button type="submit"    >
                {{sI5E520Renn}}
            </button>
            <div *ngIf="sbrZM8hyPss" style="background-color: #8dce8f">
                <label>{{sRnd5rl1qN3}}</label>
            </div>
            <div *ngIf="!sbrZM8hyPss" style="color: red">
                <label>{{sRnd5rl1qN3}}</label>
            </div>
            
        </form>
    </div>

</div>    

    