<sLadsqSqdg5></sLadsqSqdg5>
<div class="stIRlHYUx32">
        <div class="control_display"><ssqs1chZvss></ssqs1chZvss></div>
        <div class="s3LLOxmGvGE" >
            <form [formGroup]="szeZFJnaax0" style="margin-left: 40px;" >
                <!-- <label ><b>
                    {{saUbZUqpzWf}}</b>
                </label> -->
                <div class="stIRlHYUx32">
                   <div >
                       <div style="margin-bottom: 10px;">
                           <div style="display: inline-block; margin-right: 20px;">

                               <input  type="radio" name="sVzjRhMCmex" id="phoneRadios" value="phone"  (click)="sYfatC7oyKs()" checked>
                               <label for="sVzjRhMCmex"><b>
                                   {{sTMli0DUsts}}</b>
                               </label>
                           </div>
                           <div style="display: inline-block">
                               <input  type="radio" name="sVzjRhMCmex" id="emailRadios" value="email"  (click)="sjdlfzBeVnb()">
                               <label for="sVzjRhMCmex">
                                   <b>{{sssIVbvQdKf}}</b>
                               </label>
                           </div>           
                       </div>
                       <div  *ngIf="sHsbbbvIkys">
                           <div >
                               <div >
                               <span id="inputGroup-sizing-lg">
                                <b>{{sstVoekbLbs}}</b></span>
                               </div>
                               <input type="text"  maxlength="10"  formControlName="s1SjIexOql8" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                           </div>
                           <div *ngIf="swsT5pGsszx">                                          
                               <span  class="ssKPsQvwSRS"
                                   *ngIf="szeZFJnaax0.controls['s1SjIexOql8'].getError('required')">
                                   {{sGMVMKiu7bF}}
                               </span>                                                       
                           </div>
                       </div>
                       <div *ngIf="!sHsbbbvIkys">
                           <div>
                               <div >
                               <span id="inputGroup-sizing-lg"><b>{{s2xbVqtel2S}}</b></span>
                               </div>
                               <input type="text"  maxlength="50"  formControlName="srHqFbBsq8w" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                           </div>
                           <div *ngIf="sxki7NqwaEW">                    
                               <span class="ssKPsQvwSRS"  
                                   *ngIf="szeZFJnaax0.controls['srHqFbBsq8w'].getError('required')">
                                   {{sGMVMKiu7bF}}
                               </span>                                                       
                           </div>
                       </div>
                   </div>

                       <div style="margin-top: 15px;">
                           <div>
                               <div >
                               <span id="inputGroup-sizing-lg"><b>{{sqhP5fTmZvK}}</b></span>
                               </div>
                               <input type="password"  maxlength="3"  formControlName="sJHaxLaSgva" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                           </div>
                           <div *ngIf="sELcvqULiur">                  
                               <span class="ssKPsQvwSRS" *ngIf="szeZFJnaax0.controls['sJHaxLaSgva'].getError('required')">
                                   {{sTUmxdamNBa}}    
                               </span>   
                               
                           </div>
                       </div>    
                       
                       <div style="margin-top: 15px;">
                        <div>
                            <div >
                            <span id="inputGroup-sizing-lg"><b>{{sgBcCJM2TQx}}</b></span>
                            </div>
                            <input type="password"  maxlength="3"  formControlName="sTpj0RmlIls" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div *ngIf="samBzbbbVQx">                    
                            <span class="ssKPsQvwSRS" *ngIf="szeZFJnaax0.controls['sTpj0RmlIls'].getError('required')">
                                {{sTUmxdamNBa}}    
                            </span>   
                            
                        </div>
                        <div *ngIf="sbbdf25rx3y" ><h5 style="padding:20px;" class="ssKPsQvwSRS" >{{sGSqSbrdcbx}}</h5></div>
                    
                        <button type="submit" (click)="sMxsu7aRyfd()" >{{s01mqbsFbTi.sbgdsGLsFsb}}
                            {{sI5E520Renn}}</button>  
                            
                            <button type="button" (click)="sqyxsWvMylb()" >{{s01mqbsFbTi.sbgdsGLsFsb}}
                                {{sbSYx6siQOh}}</button>  
                    </div> 
                </div>
               </form>

            
        </div>
        
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
