<div class="sSn7arborbk" role="banner" >
  
    <!-- <span style="font-size:20px;cursor:pointer;margin:3px;" onclick="openNav()">&#x2630; </span> -->
      <!-- <div class="sidenavHamburger" (click)="sSywnbybbGp()">&#x2630; </div>  -->
      <div  class="sidenavHamburger" (click)="sSywnbybbGp()">&#x2630;</div> 

      <div *ngIf="sGRPY6adJvs"><ssqs1chZvss></ssqs1chZvss></div>
      <img class="control_display" 
        width="40"
        alt="Angular Logo"

        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />
      <label class="control_display"><sqs0dllQSqX sM5nLssdLbK="sxSdlwnObny"></sqs0dllQSqX></label>

      <form style="display: inline-block;" [formGroup]="sOlZsKs2rHQ" (ngSubmit)="sMxsu7aRyfd()" >
        <input type="text" placeholder='{{szn8DsasUbd}}'
         class="searchInput" formControlName="sPdDOWR5Z63" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        <button type="submit"  class="searchButton"  >
          {{sI5E520Renn}}
        </button>
        
      </form>
      
      <!-- <div *ngIf="sGRPY6adJvs"><app-owner-side-nav></app-owner-side-nav></div> -->
      <!-- <div class="spacer"></div> -->
      <!-- <div class="float-md-right" style="padding-right: 5px; display: inline-block;">
        <a (click)="st7bibX3dkc('ur')" style="padding-left: 2px;" title="اردو">        
          ش</a>
        <a (click)="st7bibX3dkc('kn')" style="padding-left: 2px;" title="ಕನ್ನಡ"> ಅ</a>
        <a (click)="st7bibX3dkc('gj')" style="padding-left: 2px;" title="ગુજરાતી"> એ</a>
        <a (click)="st7bibX3dkc('bng')" style="padding-left: 2px;" title="বাংলা"> অ</a>
        <a (click)="st7bibX3dkc('hn')" style="padding-left: 2px;" title="हिन्दी"> अ</a>
        <a (click)="st7bibX3dkc('en')" style="padding-left: 2px;" title="English"> A</a>  
        <a (click)="st7bibX3dkc('ml')" style="padding-left: 2px;" title="മലയാളം"> ല</a>  
        <a (click)="st7bibX3dkc('mr')" style="padding-left: 2px;" title="मराठी"> म</a>  
        <a (click)="st7bibX3dkc('pa')" style="padding-left: 2px;" title="ਪੰਜਾਬੀ"> ਉ</a>  
        <a (click)="st7bibX3dkc('ta')" style="padding-left: 2px;" title="தமிழ்"> அ</a>  
        <a (click)="st7bibX3dkc('te')" style="padding-left: 2px;" title="తెలుగు"> సం</a>      
      </div> -->

      <div *ngIf="this.sxbsLbbbcgz.sRbfzsgRwOs!=undefined" class="control_display" style="padding-left: 20px;" >
        <a class="link" (click)="slldlmpaqlP()">
        {{sYaPsD7IO8D}}</a></div>

      <div *ngIf="this.sxbsLbbbcgz.sRbfzsgRwOs==undefined" class="control_display" style="padding-left: 20px;">
        <a class="link" href="{{this.sxvqibxQov2.sWhI8l1zJbj}}/showLogin/{{this.s01mqbsFbTi.sbgdsGLsFsb}}">
        {{szmTrVxYF3t}}</a></div>
      <label style="display: none;" name="szn8DsasUbd">
        <sqs0dllQSqX sM5nLssdLbK="s578xsEnxlH"></sqs0dllQSqX>
      </label>
    </div>